.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 13px;

  nav,
  menu {
    display: flex;
    list-style: none;
    align-items: center;
    gap: 1rem;
  }

  h1 {
    margin: 0;
    line-height: 0;

    a {
      opacity: 1;
    }
  }
}

.Logo {
  width: 31px;
  height: 27px;

  g {
    fill: #121212;

    @media (prefers-color-scheme: dark) {
      fill: #fff;
    }
  }
}
